.header {
	z-index: 100;
}

.headerContent {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--gap-s);
	flex-direction: column;
}

.headerAddon {
	position: absolute;
	right: 0;
	top: 1px;
	bottom: 0;
}

.lightText {
	opacity: 0.6;
}

.content {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 var(--gap-m) 44px !important;
}

.successContent.successContent {
	padding: 0 !important;
	flex-direction: column;
	justify-content: start;
}

.successContentIconsContainer {
	margin-top: var(--gap-2xl);
	display: flex;
	padding: 0 var(--gap-xs);
}

.successContentIconsContainer > *:not(:first-child) {
	margin-left: var(--gap-m);
}

.actionButton.actionButton {
	background-color: #000;
}

.actionButtonDescription {
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
}

.footer.footer {
	margin-top: auto;
	padding: var(--gap-m);
}

.sum {
	margin-top: var(--gap-2xl);
}

.commission {
	margin-top: var(--gap-xs);
}

.recipient {
	margin-top: var(--gap-xl);
}

.successContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 var(--gap-m) var(--gap-m);
	margin-top: 80px;
	text-align: center;
}